
<h1>Login</h1>
<% if @current_user.present?%>
  <%= link_to pages_path %>
<% else %>
  <%= form_tag login_path do %>
    <strong> <%= flash[:error] %></strong>
    <br>
    <%= label_tag :name %>
    <%= text_field_tag :name, nil%>
    <br>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag :password, nil%>
    <br>
    <br>
    <%= submit_tag 'Login'%>
  <% end %>
<% end %>
