<h1>Airplane <%= @airplane.name %></h1>


<strong>Number of rows:</strong> <%= @airplane.rows %><br>
<strong>Number of columns:</strong> <%= @airplane.cols %>

<br>
<%= link_to "Edit", edit_airplane_path(@airplane)%>
  |
  <%= link_to "Delete", airplane_path(@airplane), method: :delete%>
  <br>
  <h3>Seating Map:</h3>
  <script>
    var rows = <%= @airplane.rows %>
    
    var cols = <%= @airplane.cols %>
  </script>
  <div id="plane_table"></div>
