
<h1>All Flights</h1>
<ul>
  <% @flights.each do |f| %>

      The flight date is: <%= f.flight_date %>
      <%= link_to f.flight_number, flight_path(f)%>
      Origin: <%= f.origin %>
      Destination: <%= f.destination %>
      Plane: <%= f.airplane.name%>

      Seats: <%= f.available_seats %>

      <br>

  <% end %>
</ul>
